.header {
    position: relative;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid #E0E0E0;
}

.header>.return-btn {
    position: absolute;
    top: 22.41px;
    left: 29px;
}

.header>.title {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}

.body-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.body-section>.header-section {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-left: 14px;
    padding-right: 14px;
}

.body-section>.header-section>.title {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    color: #333333;
}

.body-section>.header-section>.description {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.body-section>.content {
    margin-top: 20px;
    width: 100%;
}

.body-section>.content>.img {
    width: 100%;
}

.body-section>.content>.notification-section {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 14px;
    padding-right: 14px;
    background: #EAEAEA;
}

.body-section>.content>.notification-section>.header-section {
    display: flex;
    align-items: center;
    gap: 4px;
}

.body-section>.content>.notification-section>.header-section>.title {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 17px;
    color: #333333;
}

.body-section>.content>.notification-section>.notification-list {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.body-section>.content>.notification-section>.notification-list>.item {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 190%;
    color: #333333;
}

.body-section>.relation-section {
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
    border-top: 0.5px solid #E0E0E0;;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body-section>.relation-section>.title {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    color: #333333;
}

.body-section>.relation-section>.relation-product-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 13.5px;
    row-gap: 30px;
}