.main-body {
    padding-top: 25.41px;
}

.brand {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.brand>.category-section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.brand>.category-section>.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9.56px;
}

.brand>.category-section>.item>.logo {
    width: 77px;
    height: 77px;
}

.brand>.category-section>.item>.title {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #444444;
}

.brand>.main-image {
    margin-top: 21.23px;
    width: 100%;
}

.brand>.product-list {
    margin-top: 12.52px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 6px;
    padding-left: 16px;
    padding-right: 16px;
}

.brand>.product-list>.item {
    display: flex;
    flex-direction: column;
    gap: 7.73px;
}

.brand>.product-list>.item>.image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #F9F9F9;
    border-radius: 10px;
}

.brand>.product-list>.item>.image>img {
    width: 100%;
}

.brand>.product-list>.item>.title {
    font-style: normal;
    font-weight: 800;
    font-size: 9px;
    line-height: 10px;
    color: #333333;
}

.brand>.product-list>.item>.price-section {
    margin-top: 4.2px;
    display: flex;
    flex-direction: row;
    gap: 3.17px;
    align-items: end;
}

.brand>.product-list>.item>.price-section>.percent {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    color: #00402F;
}

.brand>.product-list>.item>.price-section>.price {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.ablanc-rent {
    margin-top: 49px;
    display: flex;
    flex-direction: column;
}

.ablanc-rent>.title {
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 20px;
    color: #333333;
    padding-left: 16px;
    padding-right: 16px;
}

.ablanc-rent>.filter-section {
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

.ablanc-rent>.filter-section>.description {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    color: #333333;
}

.ablanc-rent>.filter-section>.select-btn {
    width: 100%;
    height: 35px;
    background: #E5EAE3;
    border: 1px solid #C0C0C0;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #00402F;
}

.ablanc-rent>.filter-section>.filter-list {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.ablanc-rent>.filter-section>.filter-list>.item-btn {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 12.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #666666;
}

.ablanc-rent>.product-section {
    margin-top: 12.34px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    border-top: 0.5px solid #E0E0E0;
    padding-top: 11.66px;
}

.ablanc-rent>.product-section>.top-section {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ablanc-rent>.product-section>.top-section>.discount-view {
    display: flex;
    flex-direction: row;
    gap: 5.13px;
    align-items: center;
}

.ablanc-rent>.product-section>.top-section>.discount-view>.switch-box {
    width: 22.87px;
    height: 13.24px;
    padding: 1px;
    border-radius: 13.24px;
    background: #DDDDDD;
    display: flex;
    justify-content: left;
    align-items: center;
}

.ablanc-rent>.product-section>.top-section>.discount-view>.switch-box>.button {
    width: 10.97px;
    height: 10.97px;
    border-radius: 100%;
    background: #FFFFFF;
}

.ablanc-rent>.product-section>.top-section>.discount-view p {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #666666;
}

.ablanc-rent>.product-section>.top-section>.order-view {
    position: relative;
    display: flex;
    gap: 2px;
    align-items: center;
}

.ablanc-rent>.product-section>.top-section>.order-view>.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ablanc-rent>.product-section>.top-section>.order-view p {
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 10px;
    color: #999999;
}

.ablanc-rent>.product-section>.top-section>.order-view>.menu {
    position: absolute;
    top: 15px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    width: 80px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.ablanc-rent>.product-section>.top-section>.order-view>.menu>.item {
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 10px;
    text-align: center;
    color: #999999;
}

.ablanc-rent>.product-section>.product-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 13.5px;
    row-gap: 30px;
    padding-left: 16px;
    padding-right: 16px;
}

.ablanc-rent>.product-section>.see-more-section {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    display: flex;
}

.ablanc-rent>.product-section>.see-more-section>.see-more-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background: #FFFFFF;
    border: 0.72222px solid #DDDDDD;
    width: 100%;
    height: 38.69px
}

.ablanc-rent>.product-section>.see-more-section>.see-more-btn>.span {
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
    color: #000000;
}

.review {
    margin-top: 47.57px;
    display: flex;
    flex-direction: column;
    gap: 21.66px;
}

.review>.top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.review>.top-section>.left-section {
    display: flex;
    flex-direction: column;
    gap: 8.18px;
}

.review>.top-section>.left-section>.title {
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 20px;
    color: #333333;
}

.review>.top-section>.left-section>.description {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    color: #333333;
}

.review>.review-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 14px;
    row-gap: 21px;
    padding-left: 5px;
    padding-right: 5px;
}

.slider-section img {
    min-width: 100%;
    height: 500px;
    object-fit: contain;
    object-position: center;
    background-color: rgb(243 244 246);
}

.main-product-scroll-list {
    width: 100%;
}

.main-product-scroll-list>.splide__track>.splide__list>.splide__slide {
    width: 22%!important;
    min-width: 77px!important;
}

.main-product-scroll-list>.splide__arrows {
    display: none;
}

.main-product-scroll-list>.splide__pagination {
    display: none;
}

.detail-image-scroll-list {
    width: 100%;
}

.detail-image-scroll-list>.splide__track>.splide__list>.splide__slide {
    width: 130px!important;
}

.detail-image-scroll-list>.splide__arrows {
    display: none;
}

.detail-image-scroll-list>.splide__pagination {
    display: none;
}

.review-image-scroll-list {
    width: 100%;
}

.review-image-scroll-list>.splide__track>.splide__list>.splide__slide {
    width: 80px!important;
}

.review-image-scroll-list>.splide__arrows {
    display: none;
}

.review-image-scroll-list>.splide__pagination {
    display: none;
}