.main-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-body>.main-image {
    width: 100%;
}

.main-body>.menu-section {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    background: #050303;
}

.main-body>.menu-section.top-menu-section {
    position: fixed;
    top: 55px;
    max-width: 410px;
    z-index: 10;
}

.main-body>.menu-section>.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rany';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.main-body>.menu-section .item:not(:last-child)::after {
    position: absolute;
    content: '|';
    right: 0;
}

.main-body>.fashion-brand {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-body>.fashion-brand>.title {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    color: #333333;
}

.main-body>.fashion-brand>.description {
    margin-top: 9px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #333333;
}

.main-body>.review-section {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-body>.review-section>.title {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    color: #333333;
}

.main-body>.review-section>.description {
    margin-top: 9px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #333333;
}

.main-body>.review-section>.review-list {
    margin-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 24px;
    width: 100%;
}

.main-body>.review-section>.review-list::-webkit-scrollbar {
    display: none;
}

.main-body>.review-section>.review-list .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}

.main-body>.review-section>.review-list .item>.image {
    width: 198px;
    height: 188px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
}

.main-body>.review-section>.review-list .item>.image>img {
    width: 100%;
    min-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.main-body>.review-section>.review-list .item>.header-section {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 3.42px;
    background: #F8F8F8;
}

.main-body>.review-section>.review-list .item>.header-section>.brand {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    color: #666666;
}

.main-body>.review-section>.review-list .item>.header-section>.title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 10px;
    color: #333333;
}

.main-body>.review-section>.review-list .item>.content-section {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 14px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    gap: 5.04px;
}

.main-body>.review-section>.review-list .item>.content-section>.user {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}

.main-body>.review-section>.review-list .item>.content-section>.review-content {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #333333;
}

.main-body>.review-section>.action {
    margin-top: 48.45px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    width: 100%;
}

.main-body>.review-section>.action>.see-more-btn {
    width: 100%;
    height: 45px;
    background: #010000;
    border: 0.72px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

.main-body>.membership-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-body>.membership-section>.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    background: #F5F5F5;
    height: 132px;
}

.main-body>.membership-section>.header-section>.title {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    color: #333333;
}

.main-body>.membership-section>.header-section>.description {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #333333;
}

.main-body>.membership-section>.menu-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-body>.membership-section>.menu-section>.item {
    position: relative;
    height: 50px;
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.main-body>.membership-section>.menu-section>.item>svg {
    display: none;
    position: absolute;
    top: -4px;
    left: 50% - 20px;
}

.main-body>.membership-section>.menu-section>.item.active>svg {
    display: block;
}

.main-body>.membership-section>.menu-section>.item:nth-child(1) {
    background: #00402F;
}

.main-body>.membership-section>.menu-section>.item:nth-child(2) {
    background: #EEAC4C;
}

.main-body>.membership-section>.content-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-body>.membership-section>.content-section>.header-section {
    position: relative;
    background-size: cover;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.main-body>.membership-section>.content-section>.header-section.rent-section {
    background-image: url('../images/rent_main.png');
}

.main-body>.membership-section>.content-section>.header-section.subscription-section {
    background-image: url('../images/subscription_main.png');
}

.main-body>.membership-section>.content-section>.header-section>.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.main-body>.membership-section>.content-section>.header-section>.title {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
}

.main-body>.membership-section>.content-section>.header-section>.description {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
}

.main-body>.membership-section>.content-section>.content-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 28px;
    width: 100%;
}

.main-body>.membership-section>.content-section>.content-list.rent-section {
    background: #E5EAE3;
}

.main-body>.membership-section>.content-section>.content-list.subscription-section {
    background: #F7ECDC;
}

.main-body>.membership-section>.content-section>.content-list>.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 28px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}

.main-body>.membership-section>.content-section>.content-list>.item>.icon {
    width: 60px;
    height: 60px;
}

.main-body>.membership-section>.content-section>.content-list>.item>.item-content {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-body>.membership-section>.content-section>.content-list>.item>.item-content>.title {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
}

.main-body>.membership-section>.content-section>.content-list>.item>.item-content>.description {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #666666;
}

.main-body>.delivery-system-section {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
}

.main-body>.delivery-system-section>.title {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.main-body>.delivery-system-section>.system-list {
    margin-top: 28px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.main-body>.delivery-system-section>.system-list>.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-body>.delivery-system-section>.system-list>.item>.icon {
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 100%;
}

.main-body>.delivery-system-section>.system-list>.item>.title {
    margin-top: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.main-body>.delivery-system-section>.system-list>.item>.description {
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #666666;
}

.main-body>.delivery-system-section>.system-list>.splitter {
    padding-top: 47px;
}

.main-body>.delivery-system-section>.guid-section {
    margin-top: 25px;
    background: #F5F5F5;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 9px;
    padding-right: 9px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.main-body>.delivery-system-section>.guid-section>.title {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.main-body>.delivery-system-section>.guid-section>.description {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    color: #999999;
}

.main-body>.service-findout-section {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.main-body>.service-findout-section>.title {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.main-body>.service-findout-section>.service-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
}

.main-body>.service-findout-section>.service-list>.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}

.main-body>.service-findout-section>.service-list>.item>.image {
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-body>.service-findout-section>.service-list>.item>.image>img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-body>.service-findout-section>.service-list>.item>.content-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 21px;
    padding-left: 15px;
    padding-right: 15px;
}

.main-body>.service-findout-section>.service-list>.item>.content-section>.title {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
}

.main-body>.service-findout-section>.service-list>.item>.content-section>.description {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #666666;
}

.main-body>.question-section {
    margin-top: 100px;
    margin-bottom: -57.5px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 100%;
    background: #F5F5F5;
    padding-top: 40px;
    padding-bottom: 94px;
    padding-left: 20px;
    padding-right: 20px;
}

.main-body>.question-section>.title {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    color: #333333;
}

.main-body>.question-section>.question-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 100%;
}

.main-body>.question-section>.question-list>.item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 18px 15px 18px 15px;
}

.main-body>.question-section>.question-list>.item>.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-body>.question-section>.question-list>.item>.header-section>.question {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
}

.main-body>.question-section>.question-list>.item>.body-section>.answer {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #666666;
    display: none;
}

.main-body>.question-section>.fag-btn {
    margin-top: 9px;
    width: 100%;
    height: 45px;
    background: #010000;
    border: 0.72px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}