.title-scroll-list>.splide__track>.splide__list>.splide__slide {
    width: auto!important;
}

.title-scroll-list>.splide__arrows {
    display: none;
}

.title-scroll-list>.splide__pagination {
    display: none;
}